<a href="https://colab.research.google.com/github/CashaEl/ocean/blob/main/PandasTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    "Name": ["Jone", "Jane", "Bob"],
    "Age": [25, 30, 35],
    "City": ["New York", "London", "Paris"]
}

df = pd.DataFrame(data)
print(df)

   Name  Age      City
0  Jone   25  New York
1  Jane   30    London
2   Bob   35     Paris

In [3]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [4]:
median_income = df["median_income"]
print(median_income.head())

0    6.6085
1    3.5990
2    5.7934
3    6.1359
4    2.9375
Name: median_income, dtype: float64

In [5]:
specials = df.loc[[36,49], 'median_income']
print(specials)

36    2.5125
49    3.1049
Name: median_income, dtype: float64

In [6]:
high_income = df[df["median_income"] >= 4]
print(high_income)

high_income_value = df.loc[df['median_income'] >= 4, 'median_house_value']
print(high_income_value)


print(df["median_income"] >=4)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
12      -121.93     37.25                36.0       1089.0           182.0
13      -117.03     32.97                16.0       3936.0           694.0
...         ...       ...                 ...          ...             ...
2991    -117.17     34.28                13.0       4867.0           718.0
2992    -122.33     37.39                52.0        573.0           102.0
2993    -117.91     33.60                37.0       2088.0           510.0
2994    -117.93     33.86                35.0        931.0           181.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
12         535.0       170.0         4.6900            252600.0
13        1935.0       659.0         4.5625            231200.0
...          ...         ...            ...                 ...
2991       780.0       250.0         7.1997            253800.0
2992       232.0        92.0         6.2263            500001.0
2993       673.0       390.0         5.1048            500001.0
2994       516.0       174.0         5.5867            182500.0
2999       753.0       260.0         8.5608            500001.0

[1159 rows x 9 columns]
0       344700.0
2       270500.0
3       330000.0
12      252600.0
13      231200.0
          ...
2991    253800.0
2992    500001.0
2993    500001.0
2994    182500.0
2999    500001.0
Name: median_house_value, Length: 1159, dtype: float64
0        True
1       False
2        True
3        True
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999     True
Name: median_income, Length: 3000, dtype: bool

In [7]:
df.loc[(df["longitude"] >= -118) & (df["latitude"]>=34)]
#print(df["median_income"] >= 4) & (df["median_house_value"]>=250)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
43,-117.27,34.09,36.0,848.0,186.0,737.0,169.0,0.9838,79300.0
54,-117.90,34.09,39.0,1726.0,333.0,892.0,335.0,4.3409,191800.0
68,-117.46,34.08,18.0,3830.0,750.0,2767.0,702.0,3.6602,120700.0
129,-117.19,34.03,25.0,2513.0,340.0,900.0,320.0,6.4962,182400.0
140,-117.39,34.10,12.0,7184.0,1516.0,4862.0,1235.0,2.4492,103800.0
...,...,...,...,...,...,...,...,...,...
2914,-117.06,34.87,14.0,3348.0,619.0,1756.0,557.0,3.5987,91400.0
2935,-117.97,34.05,33.0,1452.0,268.0,1274.0,278.0,3.6563,162700.0
2979,-117.91,34.09,20.0,4327.0,1037.0,2296.0,963.0,3.0441,185400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0

In [8]:
selected_data = df.iloc[0:3, 1:3]
print(selected_data)

   latitude  housing_median_age
0     37.37                27.0
1     34.26                43.0
2     33.78                27.0

In [9]:
first_half = df.iloc[:len(df)//2]
print(first_half)

second_half = df.iloc[1500:]
print(second_half)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
1495    -121.92     36.63                40.0       1076.0           193.0
1496    -120.44     37.31                16.0       3369.0           532.0
1497    -117.18     32.70                44.0       2655.0           514.0
1498    -121.57     39.12                30.0       2601.0           534.0
1499    -122.21     37.79                52.0        762.0           190.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
1495       406.0       180.0         3.4943            311100.0
1496      1770.0       574.0         5.2662            126200.0
1497      1102.0       489.0         3.6759            368800.0
1498      1702.0       506.0         2.0800             56600.0
1499       600.0       195.0         3.0893            125000.0

[1500 rows x 9 columns]
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1500    -118.91     35.30                28.0       1793.0           358.0
1501    -121.95     37.32                20.0       1145.0           198.0
1502    -121.35     38.68                20.0       7085.0          1222.0
1503    -121.28     38.76                47.0       2901.0           631.0
1504    -118.35     33.89                30.0       1143.0           299.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
1500      1233.0       351.0         2.7845             82200.0
1501       431.0       173.0         3.1103            281900.0
1502      3455.0      1229.0         4.3118            120000.0
1503      1276.0       578.0         2.1366            101900.0
1504       776.0       273.0         4.2829            240000.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[1500 rows x 9 columns]

In [10]:
df['housing_median_age_month'] = df['housing_median_age'] * 12

print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value  \
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

   housing_median_age_month
0                     324.0
1                     516.0
2                     324.0
3                     336.0
4                     228.0

In [11]:
print(df.head())
#두 DataFrame을 세로로(concatenate) 합치기
data_add = {
    "longitude" : -125,
    "latitue" : 38,
    "housing median_age" : 30
    }
df_add = pd.DataFrame(data_add,[0])
print(df_add.head())

df = pd.concat([df, df_add], ignore_index=True)

print(df)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value  \
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

   housing_median_age_month
0                     324.0
1                     516.0
2                     324.0
3                     336.0
4                     228.0
   longitude  latitue  housing median_age
0       -125       38                  30
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0
3000    -125.00       NaN                 NaN          NaN             NaN

      population  households  median_income  median_house_value  \
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0
3000         NaN         NaN            NaN                 NaN

      housing_median_age_month  latitue  housing median_age
0                        324.0      NaN                 NaN
1                        516.0      NaN                 NaN
2                        324.0      NaN                 NaN
3                        336.0      NaN                 NaN
4                        228.0      NaN                 NaN
...                        ...      ...                 ...
2996                     324.0      NaN                 NaN
2997                     120.0      NaN                 NaN
2998                     480.0      NaN                 NaN
2999                     504.0      NaN                 NaN
3000                       NaN     38.0                30.0

[3001 rows x 12 columns]

In [35]:
df['categorical'] = 'A'
print(df.describe())
print(df.describe(include='all'))
print(df.info())

missing_values = df.isnull().sum()
print(missing_values)

#print(df.loc[df['new_column'].isnull()])

         longitude    latitude  housing_median_age   total_rooms  \
count  3001.000000  3000.00000         3000.000000   3000.000000
mean   -119.591003    35.63539           28.845333   2599.578667
std       1.997048     2.12967           12.555396   2155.593332
min    -125.000000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.490000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value  housing_median_age_month  latitue  \
count          3000.00000               3000.000000      1.0
mean         205846.27500                346.144000     38.0
std          113119.68747                150.664747      NaN
min           22500.00000                 12.000000     38.0
25%          121200.00000                216.000000     38.0
50%          177650.00000                348.000000     38.0
75%          263975.00000                444.000000     38.0
max          500001.00000                624.000000     38.0

       housing median_age
count                 1.0
mean                 30.0
std                   NaN
min                  30.0
25%                  30.0
50%                  30.0
75%                  30.0
max                  30.0
          longitude    latitude  housing_median_age   total_rooms  \
count   3001.000000  3000.00000         3000.000000   3000.000000
unique          NaN         NaN                 NaN           NaN
top             NaN         NaN                 NaN           NaN
freq            NaN         NaN                 NaN           NaN
mean    -119.591003    35.63539           28.845333   2599.578667
std        1.997048     2.12967           12.555396   2155.593332
min     -125.000000    32.56000            1.000000      6.000000
25%     -121.810000    33.93000           18.000000   1401.000000
50%     -118.490000    34.27000           29.000000   2106.000000
75%     -118.020000    37.69000           37.000000   3129.000000
max     -114.490000    41.92000           52.000000  30450.000000

        total_bedrooms    population  households  median_income  \
count      3000.000000   3000.000000  3000.00000    3000.000000
unique             NaN           NaN         NaN            NaN
top                NaN           NaN         NaN            NaN
freq               NaN           NaN         NaN            NaN
mean        529.950667   1402.798667   489.91200       3.807272
std         415.654368   1030.543012   365.42271       1.854512
min           2.000000      5.000000     2.00000       0.499900
25%         291.000000    780.000000   273.00000       2.544000
50%         437.000000   1155.000000   409.50000       3.487150
75%         636.000000   1742.750000   597.25000       4.656475
max        5419.000000  11935.000000  4930.00000      15.000100

        median_house_value  housing_median_age_month  latitue  \
count           3000.00000               3000.000000      1.0
unique                 NaN                       NaN      NaN
top                    NaN                       NaN      NaN
freq                   NaN                       NaN      NaN
mean          205846.27500                346.144000     38.0
std           113119.68747                150.664747      NaN
min            22500.00000                 12.000000     38.0
25%           121200.00000                216.000000     38.0
50%           177650.00000                348.000000     38.0
75%           263975.00000                444.000000     38.0
max           500001.00000                624.000000     38.0

        housing median_age categorical
count                  1.0        3001
unique                 NaN           1
top                    NaN           A
freq                   NaN        3001
mean                  30.0         NaN
std                    NaN         NaN
min                   30.0         NaN
25%                   30.0         NaN
50%                   30.0         NaN
75%                   30.0         NaN
max                   30.0         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 3001 non-null   float64
 1   latitude                  3000 non-null   float64
 2   housing_median_age        3000 non-null   float64
 3   total_rooms               3000 non-null   float64
 4   total_bedrooms            3000 non-null   float64
 5   population                3000 non-null   float64
 6   households                3000 non-null   float64
 7   median_income             3000 non-null   float64
 8   median_house_value        3000 non-null   float64
 9   housing_median_age_month  3000 non-null   float64
 10  latitue                   1 non-null      float64
 11  housing median_age        1 non-null      float64
 12  categorical               3001 non-null   object
dtypes: float64(12), object(1)
memory usage: 304.9+ KB
None
longitude                      0
latitude                       1
housing_median_age             1
total_rooms                    1
total_bedrooms                 1
population                     1
households                     1
median_income                  1
median_house_value             1
housing_median_age_month       1
latitue                     3000
housing median_age          3000
categorical                    0
dtype: int64

In [37]:
print(df['population'].isnull().sum())

1

In [12]:

#두 DataFrame을 가로로(concatenate) 합치기
df1 = pd.DataFrame({'A' :['A0','A1'], 'B':['B0','B1']})
print(df1)
print()

df2 = pd.DataFrame({'A' :['A2', 'A3'], 'B':['B2','B3']})
result = pd.concat([df1, df2], axis=1, ignore_index=False)
print(result)

    A   B
0  A0  B0
1  A1  B1

    A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [13]:
df_a = pd.DataFrame( {'A': [1, 2, 3], 'B': [4, 5, 6]} )
df_b = pd.DataFrame( {'A':[7, 8, 9, 10], 'C':[10, 11, 12, 13]} )

df_c = pd.concat([df_a, df_b], axis=1, ignore_index=False)
print(df_c)
#결측값 Not a Number 이 생기면 안됨, 항상 신경 써야 함.

     A    B   A   C
0  1.0  4.0   7  10
1  2.0  5.0   8  11
2  3.0  6.0   9  12
3  NaN  NaN  10  13

In [15]:
#두 DataFrame을 'key' 열을 기준으로 병합(merge)
left = pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3']})
right = pd.DataFrame({'key':['K1','K2','K3','K4'],'B':['B0','B1','B2','B3']})
merged_df = pd.merge(left, right, on='key') #how를 빼버리면 디폴트값이 Inner임
print(merged_df) #Inner조인이기 때문에 key들의 교집합인 K1, K2, K3에 대해서만 출력

  key   A   B
0  K1  A1  B0
1  K2  A2  B1
2  K3  A3  B2

In [17]:
#두 DataFrame을 'key'열을 기준으로 병합(merge)
left = pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3']})
right = pd.DataFrame({'key':['K1','K2','K3','K4'], 'B':['B0','B1','B2','B3']})
merged_df = pd.merge(left, right, on='key', how='outer') # outer조인
print(merged_df) # key들에 있는 K0, K1, K2, K3, K4를 전부 출력(결측값 2개 생김)

  key    A    B
0  K0   A0  NaN
1  K1   A1   B0
2  K2   A2   B1
3  K3   A3   B2
4  K4  NaN   B3

In [21]:
# 두 DataFrame을 'key' 열을 기준으로 병합(merge)
left = pd.DataFrame({'key': ['K0','K1','K2','K3'], 'A': ['A0','A1','A2','A3'] })
right = pd.DataFrame({'key': ['K1','K2','K3','K4'], 'A': ['B0','B1','B2','B3'] })
merged_df = pd.merge(left, right, on='key', how='left') #왼쪽 조인
print(merged_df) #K0,K1,K2,K3의 값에 대해서만 출력(결측값 1개 생김)

  key A_x  A_y
0  K0  A0  NaN
1  K1  A1   B0
2  K2  A2   B1
3  K3  A3   B2

In [22]:
# 두 DataFrame을 'key' 열을 기준으로 병합(merge)
left = pd.DataFrame({'key': ['K0','K1','K2','K3'], 'A': ['A0','A1','A2','A3'] })
right = pd.DataFrame({'key': ['K1','K2','K3','K4'], 'A': ['B0','B1','B2','B3'] })
merged_df = pd.merge(left, right, on='key', how='right') #오른쪽 조인
print(merged_df) #K1,K2,K3,K4의 값에 대해서만 출력(결측값 1개 생김)

  key  A_x A_y
0  K1   A1  B0
1  K2   A2  B1
2  K3   A3  B2
3  K4  NaN  B3